<div [ngClass]="{'matero-sidenav-collapsed': options.sidenavCollapsed}"
     class="matero-container-wrap matero-navbar-side matero-header-fixed "
     dir="ltr">
  <ng-progress></ng-progress>

  <mat-sidenav-container autoFocus autosize class="matero-container">
    <mat-sidenav #sidenav (closedStart)="onSidenavClosedStart()"
                 (openedChange)="onSidenavOpenedChange($event)"
                 [mode]="isOver ? 'over' : 'side'"
                 [opened]="options.sidenavOpened && !isOver"
                 class="matero-sidenav">
      <app-sidebar (toggleCollapsed)="toggleCollapsed()"
                   [showToggle]="!isOver"
                   [toggleChecked]="!!options.sidenavCollapsed">
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavNotice mode="over" position="end">
      <app-sidebar-notice></app-sidebar-notice>
    </mat-sidenav>

    <mat-sidenav-content #content class="matero-content-wrap">
      <app-header (toggleSidenav)="sidenav.toggle()"
                  (toggleSidenavNotice)="sidenavNotice.toggle()"
                  [showToggle]="!options.sidenavCollapsed">
      </app-header>

      <div class="matero-content">
        <router-outlet></router-outlet>
      </div>

      <ngx-spinner
        [fullScreen]="true"
        bdColor="rgba(0, 0, 0, 0.4)"
        color="#E91E63"
        size="large"
        type="ball-clip-rotate"
      ></ngx-spinner>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
