
.text-header{
  font-family: Roboto, serif;
  font-weight: 600;
  font-size: 18px;
}
.card-wrapper{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.waviy {
  position: relative;
  margin-left: 20px
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg)
  }
}
